
.slanted {
    background: #114E6F;
    color: #ffffff;
    clip-path:polygon(0 0, 100% 30%, 100% 100%, 0 100%);
    margin-top: -8vw;
}

.flex-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.flex-container>div {
    margin: 50px;
    text-align: center;
    height: 200px;
    width: 200px;
    padding: 20px;

}
.slanted div h4{
    text-transform:uppercase;
    font-weight: 100;
}

.slanted div p{
    font-size: 14px;
    font-weight: 100;
}

.green-style{
    color: #78C276;
    text-decoration: underline;
}

.flex-thumb{
    height: 35%;
}

