.banner-container{
    margin-left: 250px;
    background-repeat: no-repeat;
    background-size: 900px 600px;
    background-position: 750px 50px;
    height:500px;

}

.banner-container>div{
    font-size: 25px;
}

.text-ban {
    width: 50%;
}


.text-ban h4{
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 0;
}
.text-ban p{
    color: #aaaaaa;
    font-size: 0.7em;
    font-weight: 100;
}


